/* div.ag-theme-alpine div.ag-row {
    font-size: 8px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    height: 24px !important;
    transform: translateY(140px  ) !important;

} */
.asterisk {
    color: red;
    font-size: 22px !important;
    font-weight: 400;
}

div.ag-theme-alpine div.ag-cell {
    font-size: 16px !important;
    line-height: 22px;
    /* padding-top: 2px !important; */
    /* padding-bottom: 2px !important; */
    /* margin-top: 2px !important; */
    /* margin-bottom: 2px !important; */
    /* height: 24px !important; */
    /* transform: translateY(140px  ) !important; */

}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  max-width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}